<h2>Order placed for <%= @inovice.name %> </h1>
    
<p> Customer Email: <%= @order.customer_email %></p>
Price in Dollars: $<%=( @inovice.usd_price * 0.01)%>
<p> Eth Amount <%= @order.currency_amount / BigDecimal('10e18') %></p>
ETH/USD Pair when placed: <%= @order.currency_to_usd * 0.01%>



<p> Order Id# <%= @order.id %></p>
<p> Inovice# <%= @order.inovice_id %></p>
<p> Transaction hash: <%= @order.transaction_hash %></p>
<p><% if Rails.env.development? %>
    <P>DEVELOPMENT EMAIL</P>
    <a href="https://ropsten.etherscan.io/tx/<%= @order.transaction_hash %>">Ropsten Link</a>
<% else %>
    <a href="https://etherscan.io/tx/<%= @order.transaction_hash %>">Etherscan Link</a>
<% end %>
</p>

      
