<%= render "shared/app_navbar" %>



<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


<!-- Email and Password update section -->
  <div class="container">

    <div class="field">
      <%= f.label :email %><i> (Change this to update your email.)<br />
      <%= f.email_field :email, :class => "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :class => "form-control", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>


    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "new-password" %>
    </div>
  <br/>

</div>

<!-- Logo upload section -->
<div class="container">
    <hr/>

     <div data-controller="image-preview">
        <%= image_tag("preview.png", :class => "my-3", :width => "100px", :hight => "100px", 
        data: { target: "image-preview.output" }) %>
      
        <div class="my-2">
          <%= f.label :logo %> Upload a new logo<br>
          <%= f.file_field :logo, :class => "form-control-file photo_upload", 
          data: {target: "image-preview.input", action: "image-preview#readURL" } %>
        </div>    
      </div>
  </div>


<!-- Crypto Addresses Section -->
<div class="container">

    <div class="field">
      <%= f.label :ethereum_address %><i> (Change this to update your email.)<br />
      <%= f.text_field :ethereum_address, :class => "form-control", autofocus: true, autocomplete: "ethereum_address" %>
    </div>

    <div class="field">
      <%= f.label :bitcoin_address %><i> (Change this to update your email.)<br />
      <%= f.text_field :bitcoin_address, :class => "form-control", autofocus: true, autocomplete: "bitcoin_address" %>
    </div>

</div>


<!-- Submit changes section -->
<div class="container">
    <hr/>
    <div class="field">
      <%= f.label :current_password %> <i>(enter your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, :class => "form-control", autocomplete: "current-password" %>
    </div>
    <div class="actions">
      <%= f.submit "Save Changes" %>
    </div>
  <% end %>
</div>



<div class="container">
<hr/>
  <h3>Cancel my account</h3>
  <p>Please email nick@seviipay.com or call 719-896-1514 to cancel your account.</p>

</div>

</div>




