
<h1>Welcome to seviipay inovices page</h1>
<p>See your inovices below</p>


<ul>
  <% @inovices.each do |inovice| %>
    <li>
      <%= inovice.name %>
      <%= inovice.price %>
      <%= inovice.ethereum_address %>
      <%= button_to "Pay", payment_path(inovice.id), method: :get%>
    </li>
  <% end %>
</ul>


<%= link_to "Create new inovice", new_inovice_path %>