<%= render "shared/app_navbar" %>
<h1>Inovices</h1>

<p><%= link_to "Create new inovice", new_inovice_path %></p>

  <div class="border rounded-3 bg-light">
    <div class="row">
      <div class="col">
      Inovice Name and details link
      </div>
      <div class="col">
      Price (USD)
      </div>
      <div class="col">
      Brand Logo
      </div>
      <div class="col">
      Product Logo
      </div>
      <div class="col">
      Payment Page
      </div>
      <div class="col-4">
      Ethereum Address
      </div>

    </div>
    <hr/>
  <% @user.inovices.each do |inovice| %>
    <div class="row">

      <div class="col">
        <%= link_to(inovice.name, inovice_path(inovice.id), method: :get)%>
      </div>
      <div class="col">
        $<%= inovice.usd_price/100%>
      </div>
      <div class="col">
         <% if inovice.user.logo.attached? %>
          <%= image_tag inovice.user.logo, alt: "…", width: "100", height: "100" %>
         <% end %>
      </div>

      <div class="col">
         <% if inovice.product_image.attached? %>
        <%= image_tag(inovice.product_image, width: "100", height: "100") %>
      <% end %>
      </div>

      <div class="col" > 
          <%= link_to(inovice.id, payment_path(inovice.id), method: :get)%>
      </div>

      <div class="col-4">
        <%= inovice.ethereum_address %>
      </div>
    </div>
     
  <%end%>
      </div>

