<%= render "shared/app_navbar" %>
<h1>Welcome to seviipay inovices page</h1>
<p>See your inovices below</p>

<% if @user.logo.attached? %>
  <%= image_tag @user.logo, alt: "…", width: "100", height: "100" %>
<% end %>

<ul>
  <% @inovices.each do |inovice| %>
    <li class="h-3">
      <div class="p-2 bg-light border rounded-3">
        <p><%= inovice.name %></p>
        <%= link_to "Inovice Details", inovice_path(inovice.id), method: :get%>
        <p>$<%= inovice.usd_price/100 %></p>
        <p><%= inovice.ethereum_address %></p>
      </div>
    </li>
  <% end %>
</ul>


<%= link_to "Create new inovice", new_inovice_path %>