
<h1>Welcome to sledgeworx order page</h1>
<p>To pay for services use the button below</p>


<ul>
  <% @inovices.each do |inovice| %>
    <li>
      <%= inovice.name %>
      <%= inovice.price %>
      <%= inovice.ethereum_address %>
      <%= button_to "Pay", payment_path(inovice.id), method: :get%>
    </li>
  <% end %>
</ul>


  <!-- <%= button_to "Pay", payment_path(1), method: :get%> -->
