<h1>New Inovice</h1>

<%= form_with model: @inovice do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :ethereum_address %><br>
    <%= form.text_field :ethereum_address %>
  </div>
    <div>
    <%= form.label :usd_price %><br>
    <%= form.text_field :usd_price %>
  </div>


  <% @inovice.errors.full_messages_for(:ethereum_address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>

