<%= render "shared/app_navbar" %>
<h1>New Inovice</h1>

<%= form_with model: @inovice do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :ethereum_address %><br>
    <%= form.text_field :ethereum_address %>
  </div>

    <div>
    <%= form.label :usd_price, "Price in US cents" %><br>
    <%= form.number_field :usd_price %>
  </div>

  <div>
    <%= form.label :owner_email, "Seller Email"  %><br>
    <%= form.email_field :owner_email %>
  </div>

  <div>
    <%= form.label :seller_name %><br>
    <%= form.text_field :seller_name %>
  </div>
  <hr>
   <div data-controller="image-preview">
      <%= image_tag("preview.png", :class => "my-3", :width => "100px", :hight => "100px", 
      data: { target: "image-preview.output" }) %>
    
      <div class="my-2">
        [<b>Optional</b>] Upload a logo for this product which will appear on the checkout page. <hr/> 
        <%= form.file_field :product_image, :class => "form-control-file photo_upload", 
        data: {target: "image-preview.input", action: "image-preview#readURL" } %>
      </div>    
    </div>
    <hr>


  <% @inovice.errors.full_messages_for(:ethereum_address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>

