<%= render "shared/app_navbar" %>
<h1>Welcome to sledgeworx orders page</h1>

<ul>
  <% @user.inovices.each do |inovice| %>
  <% inovice.orders.each do |order| %>
    <li>
      <%= order.id %>
      <%= order.inovice_id %>
      <%= order.transaction_hash %>
      <% if Rails.env.development? %>
        <a href="https://ropsten.etherscan.io/tx/<%= order.transaction_hash %>">Ropsten Link</a>
      <% else %>
        <a href="https://etherscan.io/tx/<%= order.transaction_hash %>">Transaction</a>
      <% end %>

      <a href="https://ropsten.etherscan.io/tx/<%= order.transaction_hash %>">Ropsten Link</a>
      
    </li>
  <% end %>
  <%end%>
</ul>


