
<div class="container border text-center" 
  data-controller="meta" 
  data-meta-productprice-value=<%= @inovice.usd_price %> 
  data-meta-ethereumaddress-value="<%= @inovice.user.ethereum_address %>" 
  data-meta-inovice-value="<%= @inovice.id %>" 
  data-meta-bitcoinaddress-value="<%= @inovice.user.bitcoin_address %>" 
  data-meta-expiration-value="<%= @expiration %>" 
  data-meta-productname-value="<%= @inovice.name %>" 
  >
  <div class="row">
    <h4>Crypto payments via Seviipay</h4>
    <hr class="my-4">
  </div>

<div class="row">
  <div class="col">
    <div class="p-2 rounded-3">
      <% if @inovice.user.logo.attached? %>
        <%= image_tag @inovice.user.logo, alt: "…", width: "100", height: "100" %>
       <% end %>
      <h4><b><%=@inovice.seller_name %></b></h4>

      <div>
        <% if not @inovice.user.ethereum_address.nil? %>
          <% if not @inovice.user.ethereum_address.empty? %>
           Ethereum Address 
            <p><b><%= @inovice.user.ethereum_address %> </b></p>
          <%end %>
        <%end %>

       <% if not @inovice.user.bitcoin_address.nil? %>
         <% if not @inovice.user.bitcoin_address.empty? %>
            Bitcoin Address 
            <p><b><%= @inovice.user.bitcoin_address %> </b></p>
         <%end %>
       <%end%>

    </div>
    </div>
  </div>
</div>
<hr class="my-4"/>
<div class="row">
  <div class="col">
    <% if @inovice.product_image.attached? %>
      <%= image_tag(@inovice.product_image, width: "150", height: "150") %>
    <% end %>
    <p><%=@inovice.name %></p>

  </div>

<div class="row">
    <p><b>$<%=( @inovice.usd_price * 0.01)%></b></p>
  </div>
</div>

<hr class="my-4"/>
<div class="">
    <div hidden="true"  data-meta-target="install">
      <p>Looks like you don't have the Metamask wallet installed. Seviipay is in alpha and only supports the Metamask Wallet. Please install metamask to continue with your payment.</p>
      <button data-action="click->meta#onboard_meta">Onboard to Metamask</button>
  </div>
</div>

<div class="h-5 p-2" data-meta-target="paymentform">
    <div class="row row-cols-lg-auto justify-content-center">
      <div class="col center-block">
        <input class="form-control" data-meta-target="emailfield" type="email" name="email" placeholder="Your email address" id="sub_email">
      </div>
       <!--   <div class="col">
      
        </div> -->
    </div>

    <div class="d-grid col-2 mx-auto p-3">
      <% if not @inovice.user.ethereum_address.nil? %>
        <button class="btn btn-success" data-meta-target="payEthereumButton" data-action="click->meta#pay_ethereum_button" type="submit" id="sub_btn">Pay with Ethereum</button><br>
          <div data-meta-target="orderStatus"></div>
      <%end%>    

      <% if not @inovice.user.bitcoin_address.nil? %>
        <button class="btn btn-warning" data-meta-target="payBitcoinButton" data-action="click->meta#pay_bitcoin_button" type="submit" id="sub_btn">Pay with Bitcoin</button><br>
        <div data-meta-target="bitcoinQRCode"></div>
      <%end%>

</div>

</div>

<canvas width="300" height="300" id="QRCode" data-meta-target="qrCanvas" hidden="true">
  An alternative text describing what your canvas displays.
</canvas>


  <div class="p-2">
    <p><b>Pricing Data provided by CoinGecko API</b></p>
  </div>
</div>

