<h1>Checkout with Ethereum</h1>

<div data-controller="meta" data-meta-productprice-value=<%= @inovice.usd_price %> data-meta-address-value="<%= @inovice.ethereum_address %>" data-meta-inovice-value="<%= @inovice.id %>" >
    <div >
      <h1> Product: <%=@inovice.name %></h1>
      <p> Sold by <%=@inovice.seller_name %></p>
      <p> Price in Dollars: $<%=( @inovice.usd_price * 0.01)%></p>
      <p> Pay to <b><%= @inovice.ethereum_address %> </b></p>

    </div>

    <div>
      <button data-action="click->meta#connect_metamask">Connect to Ethereum</button>
  </div>
    <div>
    <%= form_for :subscribe, html: { id: 'sub_form' } do |f| %>
      <input data-meta-target="emailfield" type="email" name="email" placeholder="Your email address" id="sub_email">
      <button data-meta-target="payButton" data-action="click->meta#pay_button" type="submit" id="sub_btn">Pay with Ethereum</button><br>
      <p id="sub_output" class="lead" style="color: white;"></p>
    <% end %>

      <!-- <button data-meta-target="payButton" data-action="click->meta#pay_button">Pay Eth to sledgeworx.eth</button> -->
  </div>

<div data-meta-target="results"></div>

  <div>
      <div hidden="true" data-meta-target="connected">Ethereum Avaliable &#9989;</div>
  </div>
  <div>
      <div data-meta-target="orderStatus"></div>
  </div>
  <div>
    <p>Pricing Data provided by CoinGecko API</p>
  </div>
</div>